<!-- onCourse/learner_progress_detail.html -->
{% extends 'onCourse/base.html' %}

{% block page_content %}
  <h4>{{ learner.name }}'s Progress Details</h4>
  <ul>
    {% for item in progress %}
      <li>
        Subject: {{ item.subject.name }}<br>
        Concept: {{ item.concept.name }}<br>
        Grasp Level: {{ item.get_grasp_level_display }}<br>
        Period: {{ item.period_start }} to {{ item.period_end }}<br>
        Recorded on: {{ item.created_at }}
      </li>
    {% endfor %}
  </ul>
  <!-- Make sure to pass the learner.id here -->
  <a href="{% url 'onCourse:learner_progress_form' %}">Update Progress</a>
{% endblock %}
